body{
    background-color: rgb(0, 0, 90);
    color: rgb(140,112,71);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3.5em;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/* Navbar container */
nav{
    color: rgb(255, 153, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-image: 
    linear-gradient(#6303B1, #ff0099);
    font-family: Arial;
    padding-left: 5px;
    z-index: 100;
}

/* Links inside the navbar */
nav a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 153, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(140,112,71);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(140,112,71);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(255, 153, 0);
    padding: 20px 12px 20px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

#flexBx{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pageTitle{
    align-content: center;
    padding-top: 1.0em;
    padding-bottom: 3.0em;
}

.grid-container{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 6rem;
    grid-template-areas: 
                        ". . bx1 . ."
                        ". bx2 . bx3 ."
                        ". . bx4 . ."
                        ". bx5 . bx6 ."
                        ". . bx7 . .";
}

#bx1{
    grid-area: bx1;
}

#bx2{
    grid-area: bx2;
}

#bx3{
    grid-area: bx3;
}

#bx4{
    grid-area: bx4;
}

#bx5{
    grid-area: bx5;
}

#bx6{
    grid-area: bx6;
}

#bx7{
    grid-area: bx7;
}


.container:hover .overlay {
    opacity: 1;
}

.centered {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 200px; /* Set a small width */
    height: 200px;
    border: 5px solid rgb(140,112,71);
    border-radius: 50%;
    place-content: stretch;
    text-align: center;
  }
 
  /* Add a hover effect (blue shadow) */
.grid-container  img:hover {
    box-shadow: 1px 16px 200px 16px rgb(140,112,71);
    opacity: .5;
    overflow: visible;
  }
  }

#galleryLink {
    display: block;
    padding: 10px;
}